*, ::after, ::before {
    box-sizing: content-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #9bba5a;
    font-family: "Press Start 2P";
}

#game-board {
    /* border: 10px solid rgba(0,0,0,0.75); */
    /* background-color: floralwhite; */
    width: 600px;
    height: 600px;
    /* margin: 10px 0; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
}

.nes-container {
    border-image-outset: 0 !important;
    padding: 0 !important;
    margin: 8px !important;
}

.board-cell {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    font-size: 8px;
    text-align: center;
}

.snake {
    background-color: rgba(0,0,0,0.75);
    /* border-radius: 100%; */
    box-sizing: border-box;
    opacity: 0.85;
    border: solid #9bba5a;
}

.snake-head {
    box-sizing: border-box;
    opacity: 1;
    border: none;
}

.apple {
    background-image: url(food.svg);
    background-size: 100% 100%;
    opacity: .85;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }